<h1 class="text-3xl font-bold underline">Lists</h1>
        <div class="flex flex-col mt-4">
            <% @lists.each do |list| %>
            <tr class="border-b hover:bg-gray-100">
                <td class="px-4 py-2"><%= list.id %></td>%></td>
                <td><%= list.title %></td>
                <td><%= link_to 'Show', list %></td>
                <td><%= link_to 'Edit', edit_list_path(list) %></td>
                <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </div>
        


<%= link_to 'New List', new_list_path %>