<ul>
  <% @list.items.each do |item| %>
    <li id="item_<%= item.id %>">
      <%= turbo_frame_tag "item_#{item.id}" do %>
        <%= form_with model: item, url: toggle_list_item_path(@list, item), method: :patch, data: { turbo_frame: "item_#{item.id}" } do |f| %>
          <%= f.check_box :status, checked: item.status, onchange: "this.form.submit();" %>
          <%= item.name %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>