<h2><%= @list.title %></h2>

<h3>Membros</h3>
<%= turbo_frame_tag "members_list" do %>
  <ul>
    <% @list.members.each do |member| %>
      <li><%= member.user.email %></li>
    <% end %>
  </ul>
<% end %>

<h3>Adicionar membro</h3>
<%= turbo_frame_tag "new_member" do %>
  <%= form_with url: list_members_path(@list), method: :post, data: { turbo_frame: "members_list" } do |f| %>
    <%= f.label :email, "E-mail do membro" %>
    <%= f.text_field :email, placeholder: "Digite o e-mail do usuário", required: true %>
    <%= f.submit "Adicionar Membro" %>
  <% end %>
<% end %>