<h1>List Details</h1>

<p>
    <strong>Name:</strong>
    <%= @list.title %>
</p>

<p>
    <strong>category:</strong>
    <%= @list.category %>
</p>

<% if @list.items.any? %>
    <h2>Items</h2>
    <ul>
        <% @list.items.each do |item| %>
            <li><%= link_to item.name, [@list, item] %></li>
        <% end %>
    </ul>
<% else %>
    <p>No items in this list.</p>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>