<h1>Edit Item</h1>

<%= form_with(model: [@list, @item], local: true) do |form| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
            <ul>
                <% @item.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="actions">
        <%= form.submit "Update Item" %>
    </div>
<% end %>